node_modules/
.DS_Store
*.log
styles/tailwind-input.css
tailwind.config.js
package.json
package-lock.json
scripts/local-config.js
gif/patches/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
