/* Dual Clocks - PST (right) & Nanchang (left) */
.clock-container {
  position: fixed;
  top: 120px;
  left: 140px;
  right: 140px;
}
.clock-label {
  font-size: 9px;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 1px;
}
